<p style="color: green"><%= notice %></p>

<h1 class="text-3xl font-extrabold text-black dark:text-black sm:text-4xl m-5">Users</h1>
<%= link_to "New user", new_user_path, class:"inline-flex bg-green-700 text-white rounded-full h-6 px-3 justify-center items-center p-5 hover:bg-green-500 mx-5" %>
<br><br>
<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <br>
  <% end %>
  <br>
</div>

