<!-- component -->
<footer class="footer bg-white relative pt-1 border-b-2 border-red-700">
    <div class="container mx-auto px-6">
        <div class="sm:flex sm:mt-8">
            <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col justify-center">
                <span class="font-bold text-red-700 uppercase mb-2 text-center">Social media.</span><br>
                <div class="mx-10 flex flex-row mr-auto ml-auto">
                    <span class="text-red-700 mx-3 text-md hover:text-red-500"><%= link_to " Github.", "https://github.com/Jorge-Ortiz-Mata", class:"fab fa-github" %></span>
                    <span class="text-red-700 mx-3 text-md hover:text-red-500"><%= link_to " LinkedIn.", "https://www.linkedin.com/in/jorge-ortiz-ab1b18183/", class:"fab fa-linkedin" %></span> 
                    <span class="text-red-700 mx-3 text-md hover:text-red-500"><%= link_to " Bitbucket.", "https://bitbucket.org/jorge_ortiz_107/", class:"fab fa-bitbucket" %></span> 
                    <span class="text-red-700 mx-3 text-md hover:text-red-500"><%= link_to " Heroku.", "https://users-products-jorge.herokuapp.com/", class:"fas fa-server" %></span> 
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-6">
        <div class="mt-16 border-t-2 border-red-300 flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
                <p class="text-sm text-red-700 font-bold mb-2">
                    © 2022 | Jorge Ortiz, Ruby on Rails.
                </p>
            </div>
        </div>
    </div>
</footer>